* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body {
  background-color: rgb(40, 41, 62);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: rgb(40, 41, 62);
  min-height: 100vh;
}

a {
  color: inherit;
}